<% include layout/header %>

<div class="hero">
  <h1 class="pure-u-1">mew</h1>
  <h2 class="pure-u-3-4 l-centered">So you think you can code?</h2>

  <div class="hero-cta pure-u-3-4">
    <pre>http://eventbrightlink.com</pre>
  </div>
</div>

<div class="content">
  <h2 class="title">Hackathon</h2>
  <h3 class="subtitle">...not just for devs!</h3>
  <p>
    On September 21st, mew will be holding its first hackathon at the Yetizen Innovation Loft. The goal is simple: in three hours you'll build the best artificial intelligence you can to compete at a simple, well-known board game (we'll tell you which when you arrive). Small teams of two or three are encouraged to compete. You'll need developers to program how the game will act, but even if you can't program, you can play an important role by helping to think up and quantify a winning strategy!
  </p>
  <p>
    This is a free event, but please sign up via the eventbrite link above, as we have limited space.
  </p>

  <h3>Cash Prizes</h3>
  <p>
    The top three winning teams of the final tournament will receive cash prizes.
    <ul>
      <li>1st place - $500</li>
      <li>2nd place - $250</li>
      <li>3rd place - $100</li>
    </ul>
  </p>

  <h3>What programming languages will be used?</h3>
  <p>
    The only requirement is that your bot must be able to communicate with our socket.io servers. We will be distributing a very basic sample client written in Node.js to use as a starting point, but you can feel free to use Ruby, Python, Java, or whatever other technologies you desire.
  </p>

  <h3>What are the rules around my code?</h3>
  <p>
    Once your code is running, it may have no human interaction. Aside from that, you can do pretty much whatever you want. Use any libraries, databases, or third-party services that you see fit.
  </p>

  <h3>What if I don't have any AI experience?</h3>
  <p>
    No sweat - you don't need any special knowledge to play. The key is to analyze the game, break it down into digestable chunks, and then to be able to write an algorithm to carry out your plan. We encourage experimenting with neural networks and advanced machine learning techniques, but those concepts are not at all required to make a competitive bot. The best approach is often the simplest one!
  </p>

  <h3>What do I need to bring?</h3>
  <p>
    Someone on your team must bring an already-charged laptop and a power cord.
  </p>

  <h3>And then what?</h3>
  <p>
    We're building out a platform for you to compete against anyone on our servers. We'll have a ladder and frequent tournaments. You can track the performance of your bots and test out new strategies. We'll also continue to host hackathons and introduce new games every three months.
  </p>

  <h3>Aside from competing, how can I be involved?</h3>
  <p>
    Contact us at <a href="mailto:team@mew.io" target="_blank">team@mew.io</a> for more information about volunteer or sponsorship opportunities.
  </p>
</div>

<% include layout/footer %>

