body
  padding: 20px

.gameBoard
  border: 1px solid purple;
  width: 400px
  height: 300px

.boardColumn
  display: inline-block
  border: 1px solid red
  width: 40px;
  float: left

.boardSpot
  border: 1px solid black
  border-radius: 50%
  height: 40px
  width: 40px
  overflow: hidden
  &.red
    background-color: #ff0000;
  &.black
    background-color: #000000;

.debugPanel
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black;

