<% include ../layout/header %>

<div class="content">
  <div class="errortitle">
    <h4 class="animated animate0 fadeInUp">The page you are looking for has not been found.</h4>
    <span class="animated animate1 bounceIn">4</span>
    <span class="animated animate2 bounceIn">0</span>
    <span class="animated animate3 bounceIn">4</span>
  </div>
</div>

<% include ../layout/footer %>

