      <footer>
      <div class="legal pure-g-r">
        <div class="pure-u-2-5">
          <div class="l-box">
            <p class="legal-license">
            This site is built with &lt;3 using Pure v0.2.1
            </p>
            <p class="legal-license">
            Something something blah blah.
            </p>
          </div>
        </div>

        <div class="pure-u-1-5">
          <div class="l-box legal-logo">
            <img src="/images/kitty.png">
          </div>
        </div>

        <div class="pure-u-2-5">
          <div class="l-box">
            <ul class="legal-links pure-g">
              <li class="pure-u-1-2">
              <a href="https://github.com/yui/pure/">GitHub Project</a>
              </li>
            </ul>

            <p class="legal-copyright">
            &copy; 2013 <a href="http://tigerli.ly" target="_blank">Tigerlily Labs</a>. All rights reserved.
            </p>
          </div>
        </div>
      </div>
      </footer>
    </div>
  </body>
</html>

