        <footer class="footer" id="yui_3_10_1_1_1375658712491_22">
        <div class="pure-menu pure-menu-horizontal pure-menu-open" id="yui_3_10_1_1_1375658712491_21">
          <ul id="yui_3_10_1_1_1375658712491_20">
            <li><a href="http://purecss.io/">About</a></li>
            <li><a href="http://twitter.com/yuilibrary/">Twitter</a></li>
            <li id="yui_3_10_1_1_1375658712491_19"><a href="http://github.com/yui/pure/" id="yui_3_10_1_1_1375658712491_18">Github</a></li>
          </ul>
        </div>
        </footer>
      </div>

      <div class="legal pure-g-r">
        <div class="pure-u-2-5">
          <div class="l-box">
            <p class="legal-license">
            This site is built with &lt;3 using Pure v0.2.1
            </p>
            <p class="legal-license">
            Something something blah blah.
            </p>
          </div>
        </div>

        <div class="pure-u-1-5">
          <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/">
              <img src="/img/logo-footer.png" height="30" width="65" alt="YUI logo">
            </a>
          </div>
        </div>

        <div class="pure-u-2-5">
          <div class="l-box">
            <ul class="legal-links pure-g">
              <li class="pure-u-1-2">
              <a href="https://github.com/yui/pure/">GitHub Project</a>
              </li>
            </ul>

            <p class="legal-copyright">
            &copy; 2013 Tigerlily Labs. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

