<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>Compete.io</title>

    <script src="/js/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: [ 'Source+Sans+Pro:300,400,600:latin' ],
          urls: [ '/css/fonts.css' ]
        }
      });
    </script>

    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/css/animate2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.delay.css">
    <link rel="stylesheet" type="text/css" href="/css/typography-core.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/typography-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type='text/javascript' src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"> </script>
    <script type='text/javascript' src='/js/console.js'></script>
  </head>

  <body class="csstype">
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
        <hgroup>
        <h1 class="brand-title">A Sample Blog</h1>
        <h2 class="brand-tagline">Creating a blog layout using Pure</h2>
        </hgroup>

        <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
          <a class="pure-button" href="http://purecss.io">Pure</a>
          </li>
          <li class="nav-item">
          <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
          </li>
        </ul>
        </nav>
        </header>
      </div>

      <div class="pure-u-1">

